button:disabled {
  cursor: not-allowed;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus,
.btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-success:active,
.btn-success.active {
  background-color: #1e7e34;
  border-color: #1c7430;
}
